@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

*{
    direction: rtl;
}
body{
    padding: 0;
    margin: 0;
    font-family: vazirmatn;
    color: lightgray;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.back-vid{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.cover{
    position: fixed;
    inset: 0 0 0 0;
    background-color: #526bd82d;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    height: 70px;
    background-color: rgba(255,255,255, 0.121);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #72a1de98;
    z-index: 999;
}

.left{
    display: flex;
    align-items: center;
    justify-content: center;
}

header ul{
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding: 15px 15px;
    border-radius: 50px;
    background-color: rgba(0,0, 69, 0.326);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px #72a1de63;
}

header ul li{
    list-style: none;
}

header ul a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    transition: .3s;
    margin: 0 10px;
}

header ul a:hover{
    text-shadow: 0 0 15px black;
}

.box-icons{
    display: flex;
    gap: 40px;
}

.box-icons p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 30px;
    height: 30px;
    border: 2px solid #72a1de;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.box-icons p:hover{
    background-color: #72a1de;
    color: black;
    box-shadow: 0 0 15px #72a1de;

}

.blackhole-box{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
    mix-blend-mode: lighten;
}

.blackhole-box video{
    width: 100%;
    margin-top: -23.5%;
}

.hero{
    position: relative;
    display: flex;
    width: 100%;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
}



.hero-info{
    position: absolute;
    right: 5%;
}

.hero-info div{
    color: #72a1de;
    padding: 8px 5px;
    border-radius: 50px;
    border: 1px solid #72a1de94;
    width: 180px;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de84;
}

.hero-info h1{
    font-size: 60px;
    max-width: 400px;
    font-weight: 700;
    line-height: 60px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.hero-info button{
    font-size: 18px;
    font-family: vazirmatn;
}

.hero-info p{
    max-width: 550px;
    line-height: 25px;
    margin-bottom: 40px;
    font-size: 20px;
}

.hero-info button{
    color: white;
    padding: 15px 35px;
    border-radius: 10px;
    border: 1px solid #72a1de;
    background-color: #2200493d;
    box-shadow: 0 0 5px #72a1de81;
    cursor: pointer;
    transition: .3s;

}

.hero-info button:hover{
     box-shadow: 0 0 15px #72a1de81;
}

/*Gradient Animation*/

.gradient{
    background: linear-gradient(to right, #008baa, #7342a7, #6600c5, #6070fd, #2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
}

@keyframes animate-gradient{
    to{
    background-position: 200%;
    }
}

.astronaut{
    position: absolute;
    left: 5%;
    height: 400px;
    mix-blend-mode: lighten;
}

.about-section{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
}

.info-card{
    display: flex;
    align-items: center;
    max-width: 120px;
}

.info-card h1{
    background: linear-gradient(to right, #008baa, #7342a7, #6600c5, #6070fd, #2a46ff, #0099ff, #008ead);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;
    font-size: 55px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 0;
}

.info-card p{
    color: white;
    font-size: 20px;
}

@media (max-aspect-ratio: 16/9){
    .back-vid{
        width: auto;
        height: 100%;
    }
}

@media (min-aspect-ratio: 16/9){
    .back-vid{
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 1000px){
    .blackhole-box video{
        margin-top: 20%;
    }

    .hero-info h1{
        font-size: 40px;
        max-width: 400px;
    }

    .hero-info p{
        max-width: 300px;
    }

    .hero img{
        height: 300px;
    }

    .about-section{
        padding: 10px;
        width: 90%;
    }

    .info-card h1{
        margin-right: 5px;
    }
}

@media screen and (max-width:700px) {
    header ul{
        display: none;
    }

    .blackhole-box video{
        margin-top: -11%;
    }

    .about-section{
        width: 80%;
        flex-wrap: wrap;
    }

    .hero{
        flex-direction: column;
    }

    .hero-info{
        bottom: 10px;
    }

    .hero img{
        height: 200px;
        right: 100px;
        top: 70px;
    }

    .container{
        height: 100%;
    }
}